In [ ]:
# WQD7005 - Data Mining
## Assignment 1 - Milestone 1

In [1]:
# get current working directory
import os
os.getcwd()

'C:\\Users\\Athirah\\Desktop\\wqd170072 Milestone 1-Acquisition of Data-Athirah Razak'

In [2]:
# load necessary modules
import numpy as np
import pandas as pd
import pandas_datareader.data as web

In [3]:
# define stocks data download start date and end date

start = '2019-06-01'
end = '2019-09-25'

In [4]:
# define stocks code for Active counter only.
stocks_query = pd.read_csv('KLSE_main_stocks_RHBTRADES_TopVolume_Code.csv', index_col=[0])

In [5]:
# read stocks data from Yahoo Finance
stocks = web.DataReader(stocks_query, data_source='yahoo')

C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '0078WB.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '0082WB.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '0172WA.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '3115WC.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '4456WD.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '5156WD.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '5199WC.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '5216WA.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '5218WA.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '5243WA.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '6068WA.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '7154WA.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '7158WB.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '7164WB.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '9385WA.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Athirah\Anaconda3\lib\site-packages\pandas_datareader\base.py:230: SymbolWarning: Failed to read symbol: '9679WE.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [6]:
# Check head stocks data
stocks.head()

Attributes    High                                                        \
Symbols    0043.KL  0056.KL 0065.KL  0078.KL 0078WB.KL 0082.KL 0082WB.KL
Date
2010-01-04     NaN  0.11932   0.160  0.03125       NaN    1.28       NaN
2010-01-05     NaN  0.11932   0.170  0.03250       NaN    1.35       NaN
2010-01-06     NaN  0.11932   0.185  0.03531       NaN    1.35       NaN
2010-01-07     NaN  0.12102   0.185  0.03438       NaN    1.45       NaN
2010-01-08     NaN  0.12273   0.200  0.03750       NaN    1.44       NaN

Attributes                             ... Adj Close                           \
Symbols     0090.KL  0099.KL  0128.KL  ...   7277.KL  8206.KL 8419.KL 8524.KL
Date                                   ...
2010-01-04  0.42333  0.33333  0.20422  ...  0.511022  0.08454     NaN     NaN
2010-01-05  0.30667  0.32576  0.21273  ...  0.511022  0.08660     NaN     NaN
2010-01-06  0.30333  0.32197  0.20848  ...  0.514833  0.08454     NaN     NaN
2010-01-07  0.42333  0.31818  0.20848  ...  0.511022  0.08248     NaN     NaN
2010-01-08  0.42333  0.31818  0.20422  ...  0.511022  0.08248     NaN     NaN

Attributes
Symbols      8664.KL  8877.KL 9113.KL   9385.KL 9385WA.KL 9679WE.KL
Date
2010-01-04  1.289649  0.24490   0.300  0.038810       NaN       NaN
2010-01-05  1.328534  0.24490   0.300  0.035024       NaN       NaN
2010-01-06  1.273449  0.24490   0.310  0.035024       NaN       NaN
2010-01-07  1.309088  0.24490   0.305  0.040230       NaN       NaN
2010-01-08  1.328534  0.24163   0.305  0.036917       NaN       NaN

[5 rows x 894 columns]

In [7]:
# view tail stocks data
stocks.tail()

Attributes    High                                                      \
Symbols    0043.KL 0056.KL 0065.KL 0078.KL 0078WB.KL 0082.KL 0082WB.KL
Date
2019-09-23     NaN   0.290   0.700   0.285       NaN   0.725       NaN
2019-09-24     NaN   0.300   0.670   0.290       NaN   0.710       NaN
2019-09-25     NaN   0.300   0.670   0.290       NaN   0.715       NaN
2019-09-26     NaN   0.295   0.650   0.290       NaN   0.745       NaN
2019-09-27   0.055   0.295   0.645   0.290       NaN   0.760       NaN

Attributes                          ... Adj Close                          \
Symbols    0090.KL 0099.KL 0128.KL  ...   7277.KL 8206.KL 8419.KL 8524.KL
Date                                ...
2019-09-23   0.955   0.970    1.75  ...       NaN     NaN     NaN     NaN
2019-09-24   0.950   0.945    1.72  ...       NaN     NaN     NaN     NaN
2019-09-25   0.915   0.940    1.70  ...       NaN     NaN     NaN     NaN
2019-09-26   0.935   0.935    1.70  ...       NaN     NaN     NaN     NaN
2019-09-27   0.960   0.940    1.72  ...      3.39    0.65    0.56   0.915

Attributes
Symbols    8664.KL 8877.KL 9113.KL 9385.KL 9385WA.KL 9679WE.KL
Date
2019-09-23     NaN     NaN     NaN     NaN       NaN       NaN
2019-09-24     NaN     NaN     NaN     NaN       NaN       NaN
2019-09-25     NaN     NaN     NaN     NaN       NaN       NaN
2019-09-26     NaN     NaN     NaN     NaN       NaN       NaN
2019-09-27    1.41    0.76   0.315   0.425       NaN       NaN

[5 rows x 894 columns]

In [8]:
type(stocks)

pandas.core.frame.DataFrame

In [9]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2407 entries, 2010-01-04 to 2019-09-27
Columns: 894 entries, (High, 0043.KL) to (Adj Close, 9679WE.KL)
dtypes: float64(894)
memory usage: 16.4 MB

In [10]:
# save stocks data to csv format for further data preprocessing

stocks.to_csv('klse-main-market-stock-data.csv')